name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: olafurpg/setup-scala@v11
      with:
        java-version: zulu@1.8
    - uses: coursier/cache-action@v6
    - run: sbt +test
    - run: sbt +publishM2
    - uses: actions/upload-artifact@v2
      with:
        name: repository
        path: ~/.m2/repository
